#navbar{
    flex-basis: 20%;
    background-color: #F8EEE2;
    padding: 24px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
}