.navbar-item{
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
    gap: 10px;
    background-color: unset;
    border: none;
    cursor: pointer;
}
.navbar-item-title{
    font-size: 15px;
    font-weight: 500;
    color: #00000099;
}

.navbar-item--selected{
    background: #FFFBFA;
    font-weight: bolder;
    color: black !important;
    transition: 400ms background;
}