#note-list-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
}
.title-note{
   font-size: 16px;
    font-weight: 600;
    color: #363B40;
}
.items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 340px;
    height: 105px;
    padding: 20px;
    /*box-sizing: border-box;*/
    border-radius: 4px;
    border-right: 4px solid #4C86A8;
    background: #FCF1E3;
    transition: 400ms background;

}
.date-text{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 400;
    color: #595550;
}
.text-items{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}