
#title-text{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #EC625F;
}
#more-list{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.more-item{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.more-title{
    font-size: 15px;
    font-weight: 500;
    color: #EC625F;
}