
#folders-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.folders-title-item{
    font-size: 12px;
    font-weight: 400;
    color: #00000099;
}
#folders-list{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#folders-button{
    background-color: unset;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
}
