#folders-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.folders-title-item{
    font-size: 12px;
    font-weight: 400;
    color: #00000099;
}
#folders-list{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#folders-button{
    background-color: unset;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
}
#folders-button:hover{
    transform: scale(120%,120%);
    transition: 100ms transform ;
}
.add-folder{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 10px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: unset;
}
.label-box {
    position: relative;
    width: 150px;
}

.label-box::before,
.label-box::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 1px;
    background-color: #757575;
    transition-property: width;
    transition-duration: 0.2s;
}

.label-box::before {
    left: 50%;
}

.label-box::after {
    right: 50%;
}