
#title-text{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #EC625F;
    padding: 0 20px;
}
#last-note-list{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
