
input:focus {
    outline: none;
}
input:invalid {
    box-shadow: none;
}

input:focus ~ .label-box::before,
input:focus ~ .label-box::after {
    width: 50%;
}

input {
    width: 150px;
    color: #757575;
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #757575;
    box-sizing: border-box;
    background-color:#F8EEE2 ;
}

label {
    position: absolute;
    top: -36px;
    font-size: 18px;
    color: #757575;
    transition: 0.2s ease all;
    pointer-events: none;
}

input:focus ~ .label-box label,
input:valid ~ .label-box label {
    transform: translateY(-20px);
}
